$fonts-collection: (
  font-main-regular: 'Rubik-Regular',
  font-main-medium: 'Rubik-Medium',
  font-main-bold: 'Rubik-Bold',
);

// $fonts-collection-second: (
// 	font-second-light: 'cormorant-garamond-light',
// 	font-second-regular: 'cormorant-garamond-regular',
// 	font-second-medium: 'cormorant-garamond-medium',
// 	font-second-semibold: 'cormorant-garamond-semibold',
// 	font-second-bold: 'cormorant-garamond-bold'
// );
